body.light-mode{
    color: white;
    background-color: black;
    height: 50%;
    width: 60%;
    font-size: xx-large;
}

body.dark-mode{
    color: black;
    background-color: white;
    height: 50%;
    width: 60%;
    font-size: xx-large;
}

